---
import { getCollection } from "astro:content";
import Navbar from "@/components/navigation/navbar";
import Main from "@/layouts/Main.astro";

export async function getStaticPaths() {
  const blogPosts = await getCollection("blog");

  return blogPosts.map((post) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Main title={post.data.title} description={post.data.description}>
  <Navbar client:load />
  <div class="py-16">
    <header>
      <div class="container max-w-screen-lg">
        <div class="py-8">
          <h1 class="mb-2 text-4xl font-bold">{post.data.title}</h1>
          <time class="" datetime={post.data.date.toISOString()}>
            {post.data.date.toDateString()}
          </time>
        </div>
      </div>
    </header>
    <main id="main">
      <div class="container max-w-screen-lg">
        <div class="prose dark:prose-invert">
          <Content />
        </div>
      </div>
    </main>
  </div>
</Main>
