---
import { getCollection } from "astro:content";
import Main from "@/layouts/Main.astro";
import Navbar from "@/components/navigation/navbar";
import { Card, CardTitle, CardContent, CardHeader } from "@/components/ui/card";

const blogPosts = await getCollection("blog");
---

<Main title="Blogs">
  <Navbar client:load />
  <main id="main">
    <div class="container max-w-screen-lg py-16">
      <section class="">
        {
          blogPosts.map(
            (blog: {
              slug: any;
              data: {
                title: unknown;
                date: {
                  toISOString: () => string | null | undefined;
                  toDateString: () => unknown;
                };
                description: unknown;
              };
            }) => (
              <Card className="rounded-none shadow-none">
                <CardHeader>
                  <CardTitle>
                    <a class="text-2xl" href={`/blog/${blog.slug}`}>
                      {blog.data.title}
                    </a>
                  </CardTitle>
                  <time datetime={blog.data.date.toISOString()}>
                    {blog.data.date.toDateString()}
                  </time>
                </CardHeader>
                <CardContent>
                  <p>{blog.data.description}</p>
                </CardContent>
              </Card>
            )
          )
        }
      </section>
    </div>
  </main>
</Main>
